/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.11.2015, 20:40:17
    Author     : AIR
*/

#logo img {
    width: 100%;
    min-width: 100px;
}

header {
    background: wheat;
}

nav {
    background: #B49D45;
}

nav a {
    color: white;
}

#main {
    min-height: 200px;
}

footer {
    background: black;
    color: white;
    min-height: 100px;
}

.input-group {
    margin-bottom: 10px;
}